body {
    font-family: 'Anaheim', sans-serif;
    font-size: 1.2em;
    background-color: lightyellow;
}

form {
    position: absolute;
    top: 30px;
    left: 170px;
    width: 75%;
    height: 1130px;
    border: 1px solid whitesmoke;
    border-radius: 20px;
    background-color: white;
}

h2 {
    text-align: center;
    color: rgb(29, 28, 28);
}

fieldset {
    border-radius: 10px;
}

.fieldset1 {
    position: absolute;
    width: 90%;
    left: 55px;
}

.fieldset2 {
    width: 90%;
    position: absolute;
    left: 55px;
    top: 550px;
}

.fieldset3 {
    width: 90%;
    position: absolute;
    left: 55px;
    top: 650px;
}

.submit {
    position: absolute;
    top: 1070px;
    left: 420px;
}

/* Styling */

#name {
    height: 5px;
    border: 1px solid #DDDFE2;
    border-radius: 5px;
    padding: 13px;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 13px;
}

#name:hover {
    background-color: rgb(235, 230, 230);
    transition: .2s ease;
}

#address {
    height: 5px;
    border: 1px solid #DDDFE2;
    border-radius: 5px;
    padding: 13px;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 15px;
}

#address:hover {
    background-color: rgb(235, 230, 230);
    transition: .2s ease;
}

#email {
    height: 5px;
    border: 1px solid #DDDFE2;
    border-radius: 5px;
    padding: 13px;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 15px;
}

#email:hover {
    background-color: rgb(235, 230, 230);
    transition: .2s ease;
}

#number {
    height: 5px;
    border: 1px solid #DDDFE2;
    border-radius: 5px;
    padding: 13px;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 15px;
}

#number:hover {
    background-color: rgb(235, 230, 230);
    transition: .2s ease;
}

#birthday {
    height: 5px;
    border: 1px solid #DDDFE2;
    border-radius: 5px;
    padding: 13px;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 15px;
}

select {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    line-height: 20px;
    height: 35px;
    width: 135px;
    border-radius: 3px solid gray;
}

#msg {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    line-height: 20px;
    height: 85px;
    width: 350px;
    border-radius: 3px solid gray;
}

#submit {
    color: white;
    background: rgb(225, 58, 58);
    width: 230px;
    border-radius: 7px;
    padding: 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    font-weight: 700;
    line-height: 25px;
    text-align: center;
    cursor: pointer;
}